@tailwind base;
@tailwind components;
@tailwind utilities;

.draggable-time-range {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab; 
    cursor: -webkit-grab; 
  
  }

  .time-range-container {
    position: relative;
    height: 24px;
  }
  
  .time-range {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: move; 
    cursor: grab;
    cursor: -moz-grab; 
    cursor: -webkit-grab;
    cursor: grab; 
  }
  
  .resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: ew-resize;
  }
  
  .resize-handle.left {
    left: -5px;
  }
  
  .resize-handle.right {
    right: -5px;
  }


  * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .sticky-resource {
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: #f0f0f0;
  }
  
  .table-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
  }
  
  .timeline-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .resource-column {
    flex-shrink: 0;
    width: 8rem; 
  }